<div *ngIf="message" class="overlay">
  <div class="modal-container">
    <div class="modal-header">
      <h4 class="modal-title">Dettagli del Messaggio</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()" style="color: white;">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Autore:</strong> {{ message.author }}</p>
      <p><strong>Testo:</strong> {{ message.body }}</p>
      <!-- Aggiungi altri dettagli del messaggio se necessario -->
    </div>
  </div>
</div>
