<app-chat [author]="'Marvin Berry'" [search]="true" [channels]="true" [url]="'https://supsi-ticket.cloudns.org/supsi-chat/bff/'"
    [onMessageClick]="showMessageDetails">
</app-chat>
<app-chat [author]="'Lou'" [search]="false" [channels]="true" [url]="'https://supsi-ticket.cloudns.org/supsi-chat/bff/'"
    [onMessageClick]="showMessageDetails">
</app-chat>
<app-chat [author]="'Gianpierfrancescogiorgio secondo'" [search]="false" [channels]="false" [url]="'https://supsi-ticket.cloudns.org/supsi-chat/bff/'"
    [onMessageClick]="showMessageDetails">
</app-chat>