<div class="custom-toast-overlay" *ngIf="showToast">
    <div class="custom-toast-container">
      <div class="custom-toast-header">
        <strong>{{ message?.author }}</strong>
        <span class="custom-toast-close" (click)="closeToast()">&times;</span>
      </div>
      <div class="custom-toast-divider"></div>
      <div class="custom-toast-body">
        <div class="message-body">{{ message?.body }}</div>
        <div *ngIf=" message?.attachment">
          <hr>
          {{ message?.attachment.title }}
        </div>
      </div>
    </div>
  </div>