<div class="message-input">
    <div *ngIf="messageToReply && this.messageService.isReplying()" class="message-to-reply">
        <button class="cancel-button" (click)="clearMessageToReply()">Cancel</button>

        <div class="message-header">
            <p>{{ messageToReply.author }}</p>
        </div>

        <div class="message-body" style="display: flex;">
            <div class="message-attachment" *ngIf="messageToReply.attachment">
                @if(messageToReply.attachment.contentType.startsWith('image/')){
                <a href="{{ messageToReply.attachment.url }}" target="_blank"> <img class="message-image"
                        [src]="messageToReply.attachment.url" alt="{{ messageToReply.attachment.title }}"> </a>
                }
                @else {
                <a href="{{ messageToReply.attachment.url }}" target="_blank"> {{ messageToReply.attachment.title }}
                </a>
                }
            </div>
            <div>
                {{ messageToReply.body }}
            </div>
        </div>

    </div>
    <div *ngIf="this.messageService.isModifying()" class="message-to-reply">
        <p style="font-weight: bold;">
            Modifying
        </p>
        <button class="cancel-button" (click)="clearMessageToReply()">Cancel</button>
    </div>

    <textarea [(ngModel)]="messageText" placeholder="Type your message..." (keydown.enter)="preventNewLineAndSendMessage($event)"></textarea>

    <div class="file-send-container">
        <input id="file-upload" type="file" (change)="onFileSelected($event)" #inputFile style="display: none;">
        <label for="file-upload" class="file-upload-label">
            <span class="file-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
                    <path
                        d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707z" />
                    <path
                        d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                </svg>
            </span>
            <span class="file-upload-text">Choose File</span>
        </label>
        <span class="file-name" *ngIf="selectedFile">{{ selectedFile.name }}</span>
        <button (click)="sendMessage()">Send</button>
    </div>

</div>