/* General styles */
.message-input {
  margin: 1%;
  padding: 16px;
  background-color: #fffef0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-input textarea {
  width: 100%;
  min-height: 80px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.4;
  resize:none;
  margin-bottom: 12px;
}

.file-button-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.file-button-container input[type="file"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.file-button-container button {
  padding: 12px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-button-container button:hover {
  background-color: #0056b3;
}

/* Message reply styles */
.message-to-reply {
  background-color: #b6e6a0;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  position: relative;
}

.message-to-reply .cancel-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ff0000;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.message-to-reply .cancel-button:hover {
  background-color: #ff6464;
}

.message-to-reply .message-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.message-to-reply .message-header p {
  font-weight: bold;
  margin: 0;
}

.message-to-reply span {
  display: block;
  background-color: #cbe9bd;
  padding: 12px;
  border-radius: 4px;
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 10; 
  max-height: 2.67em; 
  overflow: hidden; 
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .message-input textarea {
    min-height: 60px;
  }

  .file-button-container button {
    padding: 12px 16px;
  }
}

.message-image {
  max-width: 5%; /* Set maximum width for the image */
  max-height: 5%; /* Set maximum height for the image */
  width: auto; /* Allow the width to adjust proportionally */
  height: auto; /* Allow the height to adjust proportionally */
  display: block; /* Ensure the image is displayed as a block element */
  margin-top: 5px; /* Add spacing at the top of the image */
}
