.chat-container {
  position: relative;
}

.message-list {
  height: calc(100vh - 200px); /* Adjust 100px if you have any fixed headers or footers */
  overflow-y: auto;
  background-color: rgb(255, 254, 240);
  /* Add any other styling properties */
}

.message-input {
  background-color: rgb(255, 254, 240);
  /* Add any other styling properties */
}

.scroll-down-button {
  position: absolute;
  bottom: 15%; 
  left: 50%; 
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3); 
  color: #fff;
  padding: 10px 20px; 
  cursor: pointer;
  border: none;
  border-radius: 5%; 
  font-size: 1.2em; 

}

.scroll-down-button:hover {
  background-color: rgba(0, 123, 255, 0.7);
}

.scroll-down-button i {
  font-size: 1em; 
}

.new-message-indicator {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background color */
  color: #fff; /* Text color */
  padding: 0px 10px;
  opacity: 0.8; /* Adjust the opacity as needed */
}


/* For webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

.search-bar {
  width: 100%;
}
