<div class="chat-container">
  <div class="custom-toast-container">
    <app-toast></app-toast>
  </div>
  <div class="message-list" #messageList>
    <app-message *ngFor="let message of messagesToDisplay" [message]="message" [currentUser]="authorMessage" 
          [parentMessage]="getMessageById(message.parentMessageId)" [onMessageClick]="onMessageClick">
    </app-message>
  </div>
  <div class="overlay-container"> <!-- New container for overlay effects -->
    <button *ngIf="showScrollButton && !showNewMessageIndicator" class="scroll-down-button" (click)="scrollToBottomSmoothly(0)">
      <i class="fas fa-arrow-down"></i>
    </button>
    <div *ngIf="showNewMessageIndicator" class="new-message-indicator" (click)="scrollToBottomSmoothly(0)">New Message</div>
  </div>
  <div class="message-input">
    <app-message-input (messageSent)="onSubmit($event)" [messageToReply]="getMessageById(this.messageService.getReplyingOrModifyingTo())"></app-message-input>
  </div>
</div>
