
<div class="chat-container">
  <div class="custom-toast-container">
    <app-toast></app-toast>
  </div>
  <input (input)="search($event)" placeholder="Search messages..." class="search-bar" />
  <div *ngIf="!isSearching" class="message-list" #messageList>
    <app-message *ngFor="let message of messages" [message]="message" [currentUser]="authorMessage"
      [parentMessage]="getMessageById(message.parentMessageId)" >
    </app-message>
  </div>
  <div aria-live="polite" toastContainer></div>
  <div *ngIf="isSearching" class="message-list" #messageList>
    <app-message *ngFor="let message of filteredMessages" [message]="message" [currentUser]="authorMessage" [parentMessage]="getMessageById(message.parentMessageId)" >
    </app-message>
  </div>
  <button *ngIf="showScrollButton" class="scroll-down-button" (click)="scrollToBottomSmoothly()">
    <i class="fas fa-arrow-down"></i>
  </button>
  <div *ngIf="showNewMessageIndicator" class="new-message-indicator">New Message</div>  
  <div class="message-input">
    <app-message-input (messageSent)="onSubmit($event)"></app-message-input>
  </div>
</div>
