<div class="message-container" [ngClass]="{'sent': isCurrentUser, 'received': !isCurrentUser}" >
    <div class="animation">
        <div class="message-content" (click)="onClickMessage($event)">
            <!-- Move the message header here -->
            <div class="message-header">
                <span *ngIf="!isCurrentUser">
                    {{ message.author }}
                </span>
                <!-- Display message actions (Reply and Modify buttons) -->
                    <button type="button" class="btn btn-secondary reply-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-reply reply" viewBox="0 0 16 16" (click)="reply($event)">
                            <path
                                d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.7 8.7 0 0 0-1.921-.306 7 7 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254l-.042-.028a.147.147 0 0 1 0-.252l.042-.028zM7.8 10.386q.103 0 .223.006c.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96z" />
                        </svg>
                    </button>
                    <button type="button" class="btn btn-secondary modify-button" *ngIf="isCurrentUser">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-pencil-square modify" viewBox="0 0 16 16"
                            (click)="modify($event)">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                    </button>
            </div>


            <!-- Display replied message if available -->
            <div *ngIf="message.parentMessageId"
                [ngClass]="{'replied-content-sender': isCurrentUser, 'replied-content-other': !isCurrentUser}">
                <div class="replied-message">
                    @if(parentMessage){
                    <span class="replied-author">{{ parentMessage.author }}</span>
                    <div class="message-attachment" *ngIf="parentMessage.attachment">
                        @if(parentMessage.attachment.contentType.startsWith('image/')){
                        <a href="{{ parentMessage.attachment.url }}" target="_blank"> <img class="message-image"
                                [src]="parentMessage.attachment.url" alt="{{ parentMessage.attachment.title }}"> </a>
                        }
                        @else {
                        <a href="{{ parentMessage.attachment.url }}" target="_blank"> {{ parentMessage.attachment.title
                            }} </a>
                        }
                    </div>
                    <div class="replied-content">{{ parentMessage.body }}</div>

                    }

                </div>
            </div>
            <!-- Display link preview if available -->
            <div *ngIf="linkPreview" class="link-preview">
                <app-link-preview [url]="linkPreview.url" [description]="linkPreview.description"
                    [image]="linkPreview.image" [error]="linkPreview.error">
                </app-link-preview>
            </div>


            <div class="message-attachment" *ngIf="message.attachment">
                <!-- Check attachment content type -->
                <ng-container *ngIf="message.attachment.contentType.startsWith('image/')">
                    <!-- Display image if attachment is an image -->
                    <a href="{{ message.attachment.url }}" target="_blank">
                        <img class="message-image" [src]="message.attachment.url" alt="{{ message.attachment.title }}">
                    </a>
                </ng-container>

                <ng-container *ngIf="message.attachment.contentType === 'application/pdf'">
                    <!-- Display PDF icon or link if attachment is a PDF -->
                    <a href="{{ message.attachment.url }}" target="_blank">
                        <i class="far fa-file-pdf"></i> <!-- Font Awesome PDF icon -->
                        {{ message.attachment.title }}
                    </a>
                    <!-- Alternatively, you can display a custom PDF message or icon -->
                    <!-- <span>PDF Attachment: {{ message.attachment.title }}</span> -->
                </ng-container>

                <!-- Display other types of attachments (fallback) -->
                <ng-container
                    *ngIf="!message.attachment.contentType.startsWith('image/') && message.attachment.contentType !== 'application/pdf'">
                    <a href="{{ message.attachment.url }}" target="_blank">
                        {{ message.attachment.title }}
                    </a>
                </ng-container>
            </div>
            <!-- Render the message body -->

            <div style="padding: 8px;" [innerHTML]="sanitizeMessageBody(message.body)"></div>

            <!-- Display message time -->
            <!-- Display message time in custom format -->
            <div class="message-time">
                {{ message.date | date: 'MM/dd/yy HH:mm' }}

                <!-- Display modification indicator if message has been edited -->
                <span class="modification-indicator" *ngIf="message.date !== message.lastEditTime">(modified)</span>
            </div>

        </div>

    </div>

</div>