<div class="message-container" [ngClass]="{'sent': isCurrentUser, 'received': !isCurrentUser}">
    <div class="message-header" *ngIf="!isCurrentUser">
        {{ message.author }}
    </div>
    <div class="message-content">
        <div *ngIf="message.parentMessageId"
            [ngClass]="{'replied-content-sender': isCurrentUser, 'replied-content-other': !isCurrentUser}">
            <div class="replied-message">
                <span class="replied-author">{{ parentMessage?.author }}</span>
                <div class="replied-content">{{ parentMessage?.body }}</div>
            </div>
        </div>
        {{ message.body }}
        <div class="message-attachment" *ngIf="message.attachment">
            <a href="{{ message.attachment.url }}" target="_blank">{{ message.attachment.title }}</a>
        </div>
        <span class="modification-indicator" *ngIf="message.date !== message.lastEditTime">(modified)</span>
        <div class="message-actions"
            [ngClass]="{'message-actions-left': !isCurrentUser, 'message-actions-right': isCurrentUser}">
            <button class="reply-button btn btn-primary" (click)="reply(message.id)" [class.active]="isReplying">Reply</button>
            <button *ngIf="isCurrentUser" class="modify-button btn btn-primary"
                (click)="modify(message.id)" [class.active]="isModifying">Modify</button>
        </div>
    </div>
    <div class="message-time">
        {{ message.date | date: 'medium' }}
    </div>
</div>