/* message.component.css */

.message-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 5px;
  border-radius: 10px;
  word-wrap: break-word;
}


.received .message-header {
  align-self: flex-start;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.sent .message-content,
.sent .message-time {
  align-self: flex-end;
}

.sent .message-content {
  background-color: rgb(255, 246, 192);
  /* Background color for sent messages */
}

.received .message-content,
.received .message-time {
  align-self: flex-start;
}

.received .message-content {
  background-color: #c9e7e7;
  /* Background color for received messages */
}

.message-content {
  font-size: 16px;
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  max-width: 50%;
}

.message-time {
  font-size: 12px;
  color: #666666;
  margin-top: 5px;
}


.author-name {
  font-weight: bold;
  margin-right: 5px;
}


.replied-content-sender {
  background-color: #fbffd4; 
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}

.replied-content-other {
  background-color: aliceblue; 
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}

.reply-text {
  font-weight: bold;
}

.replied-author {
  font-weight: bold;
}

.replied-content {
  color: #666666;
}

.modification-indicator {
  font-size: 12px;
  color: #666666;
  margin-left: 5px; /* Adjust spacing as needed */
}

.message-actions {
  display: flex;
}

.message-actions-left {
  justify-content: flex-end;
  margin: 2px;
}

.message-actions-right {
  justify-content: flex-start;
  margin: 2px;
}

.reply-button,
.modify-button {
  margin-right: 5px; /* Adjust spacing between buttons */
}

.reply-button {
  background-color: rgb(158, 255, 139);
  color: rgb(0, 0, 0); /* Text color */
}

.modify-button {
  background-color: rgb(180, 180, 255);
  color: rgb(0, 0, 0); /* Text color */
}

