.message-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 10px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.animation {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  min-width: 15%;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
}

.sent .animation {
  align-self: flex-end;
}

.received .animation {
  align-self: flex-start;
}

.animation:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.message-content {
  position: relative;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.message-header,
.message-content {
  font-size: 16px;
  color: #333;
}

.message-header {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.message-content {
  padding: 16px;
  border-radius: 0 0 12px 12px;
  background-color: #f9f9f9;
  word-wrap: break-word;
}

.sent .message-content {
  align-self: flex-end;
  background-color: #b6e6a0;
  text-align: left;
  width: 100%;
}

.received .message-content {
  align-self: flex-start;
  background-color: #d6eaf8;
  text-align: left;
  width: 100%;
}

.replied-content-sender,
.replied-content-other {
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 8px;
  margin-top: 10px;
}

.replied-author {
  font-weight: bold;
  color: #555;
}

.replied-content {
  color: #777;
}

.modification-indicator {
  font-size: 12px;
  color: #777;
  margin-left: 8px;
}

.reply-button,
.modify-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
  color: #333;
}

.message-header .reply {
  width: 30px;
  height: 30px;
}

.message-header .reply-button {
  margin-top: -13px;
}

.received .message-header .reply-button {
  margin-left: auto;
  margin-right: -10px;
}

.sent .message-header .reply-button {
  margin-right: auto;
  margin-left: -10px;
  transform: scaleX(-1);
}

.message-header .modify-button {
  margin-left: 10px;
  margin-top: -3px;
}

.message-header .modify {
  width: 23px;
  height: 23px;
}

.message-header .modify-button {
  margin-left: auto;
  margin-top: -20px;
  margin-right: -5px;
}

.message-header .reply-button:hover,
.message-header .modify-button:hover {
  transform: scale(1.3);
}

.sent .message-header .reply-button:hover {
  transform: scale(-1.3, 1.3);
}

.reply-button:hover,
.modify-button:hover {
  filter: brightness(1.2);
}

.link-preview {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.reply-button:focus,
.modify-button:focus,
.reply-button:active,
.modify-button:active {
  background-color: transparent !important;
}

.message-time {
  font-size: 12px;
  color: #777;
  align-self: flex-end;
  margin-top: 5px;
}

.received .message-time {
  align-self: flex-start;
}

.message-image {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin-top: 5px;
}
