/* General message container styles */
.message-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 10px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

/* Header and Content Styles */
.message-header, .message-content {
  font-size: 16px;
  color: #333;
}

.message-header {
  width: fit-content;
  font-weight: bold;
  padding: 12px;
  background-color: #f7f7f7;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.message-content {
  padding: 16px;
  border-radius: 0 0 12px 12px;
  background-color: #f9f9f9;
  word-wrap: break-word;
}

/* Sent Message Styles */
.sent .message-content {
  align-self: flex-end;
  background-color: #b6e6a0;
  text-align: left; /* Align text content to right for sent messages */
  max-width: 50%;
}

/* Received Message Styles */
.received .message-content {
  align-self: flex-start;
  background-color: #d6eaf8;
  text-align: left; /* Align text content to left for received messages */
  max-width: 50%;
}

/* Replied Message Styles */
.replied-content-sender, .replied-content-other {
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 8px;
  margin-top: 10px;
}

.replied-author {
  font-weight: bold;
  color: #555;
}

.replied-content {
  color: #777;
}

/* Modification Indicator Styles */
.modification-indicator {
  font-size: 12px;
  color: #777;
  margin-left: 8px;
}

/* Message Actions Styles */
.message-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.reply-button, .modify-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.reply-button {
  background-color: #007bff;
}

.modify-button {
  background-color: #6c757d;
  margin-left: 10px;
}

.reply-button:hover, .modify-button:hover {
  filter: brightness(1.2); /* Brighten on hover */
}

/* Link Preview Container */
.link-preview {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* Message Time Styles */
.message-time {
  font-size: 12px;
  color: #777;
  align-self: flex-end;
  margin-top: 5px;
}

.received .message-time {
  align-self: flex-start;
}
