.link-preview {
    display: flex;
    max-width: 100%;
  }
  
  .link-preview .preview-image {
    max-width: 500px; /* Adjust as needed */
    max-height: 300px; /* Adjust as needed */

    height: auto;
  }
  