.link-preview {
    display: block;
    max-width: 100%;
  }
  
  .link-preview .preview-image {
    max-width: 100%; /* Adjust as needed */
    max-height: 100%; /* Adjust as needed */

    height: auto;
  }
  