.channel-list {
    height: calc(100vh - 100px); 
    width: max-content; 
    overflow-y: auto;
    background-color: rgb(252, 251, 228);
    font-weight: bold;
    font-size: large;
    border-color: black;
  }
  
  .channel-item {
    padding: 10px;
    border-bottom: 1px solid #ccc; 
    cursor: pointer; 
    white-space: nowrap; 
  }
  
  .channel-item:hover {
    background-color: #0275d8; 
    color: white;
  }

  .channel-item.selected {
    background-color: #0275d8; 
    color: white;
  }
  
  
  